:root {
  --main-blue: #98c6c0;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}
body {
  background-color: rgb(151, 151, 151);
  height: 100vh;
}

/*card***************************************/
#card-container {
  max-width: 320px;
  background-color: rgb(90, 54, 75);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.555);
}
/*info***************************************/
.info {
  color: var(--main-blue);
}
#info-name {
  margin: 0.5rem;
}
#info-name p {
  color: rgba(255, 255, 255, 0.7);
}
.info button {
  cursor: pointer;
  padding: 0.3rem;
  margin: 0.5rem 0.2rem;
  transition: all 0.39s linear;
}
#linkedin-btn {
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 0.2px rgba(255, 255, 255, 0.6) solid;
}
#mail-btn:hover,
#linkedin-btn:hover {
  background-color: white;
  color: gray;
}
#mail-btn {
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}
.info img {
  object-fit: cover;
  max-height: 250px;
  width: 100%;
}
/*about***************************************/
.about {
  color: rgba(0, 0, 0, 0.767);
  line-height: 1.22;
  padding: 1rem;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
/*interests***************************************/
.interests {
  color: rgba(0, 0, 0, 0.767);
  line-height: 1.22;
  padding: 1rem;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.interests ul {
  padding: 0 5%;
}
/*contact***************************************/
.contact {
  width: 100%;
  border-radius: none;
  background-color: rgb(255, 255, 255);
}
.contact img {
  width: 10%;
  padding: 0.7rem 0;
  margin: 0 0.5rem;
}

/*App*/
.App {
  padding: 1rem;
  display: grid;
  place-items: center;
  font-family: sans-serif;
  text-align: center;
}
